@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'lobster_1.3regular';
    src: url('../fonts/lobster_1.3.eot');
    src: url('../fonts/lobster_1.3.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.3.woff') format('woff'),
         url('../fonts/lobster_1.3.ttf') format('truetype'),
         url('../fonts/lobster_1.3.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lunchboxregular';
    src: url('../fonts1/lunchbox-webfont.eot');
    src: url('../fonts1/lunchbox-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts1/lunchbox-webfont.woff') format('woff'),
         url('../fonts1/lunchbox-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lunchboxbold';
    src: url('../fonts1/lunchbox_bold-webfont.eot');
    src: url('../fonts1/lunchbox_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts1/lunchbox_bold-webfont.woff') format('woff'),
         url('../fonts1/lunchbox_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lunchboxlight';
    src: url('../fonts1/lunchbox_light-webfont.eot');
    src: url('../fonts1/lunchbox_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts1/lunchbox_light-webfont.woff') format('woff'),
         url('../fonts1/lunchbox_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'architects_daughterregular';
    src: url('../fonts/architectsdaughter.eot');
    src: url('../fonts/architectsdaughter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/architectsdaughter.woff') format('woff'),
         url('../fonts/architectsdaughter.ttf') format('truetype'),
         url('../fonts/architectsdaughter.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'myriad_probold';
    src: url('../fonts/myriadpro-bold_1.eot');
    src: url('../fonts/myriadpro-bold_1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-bold_1.woff') format('woff'),
         url('../fonts/myriadpro-bold_1.ttf') format('truetype'),
         url('../fonts/myriadpro-bold_1.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_proitalic';
    src: url('../fonts/myriadpro-it_1.eot');
    src: url('../fonts/myriadpro-it_1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-it_1.woff') format('woff'),
         url('../fonts/myriadpro-it_1.ttf') format('truetype'),
         url('../fonts/myriadpro-it_1.svg#myriad_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriadpro-regular_1.eot');
    src: url('../fonts/myriadpro-regular_1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular_1.woff') format('woff'),
         url('../fonts/myriadpro-regular_1.ttf') format('truetype'),
         url('../fonts/myriadpro-regular_1.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width:100%;
	height:100%;
}
body {
	margin: 0;
	padding: 0;
	background:url(../images/bg.jpg) center top;
	-webkit-font-smoothing: antialiased;
    font-family: 'myriad_proregular';
}

a {
	outline: none;
	text-decoration: none;
}

.c {clear: both;}

img {border: 0;}

input, textarea, select {
	outline: none;
	resize: none;
    font-family: 'myriad_proregular';
}

button::-moz-focus-inner {
  border: 0;
}

h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	font-weight:normal;
}

img {
	border: 0;
	vertical-align: top;
	max-width:100%;
	height: auto;
	width: auto\9; /* ie8 */
}

ul{
	margin:0;
	padding:0;
}

header{
	max-width:940px;
	margin:0 auto;
	padding:10px 10px 0 10px;
	position:relative;
}

.logo{
	width:37%;
	float:left;
}

.header-right{
	width:62.5%;
	float:right;
}

nav{

}

nav > ul > li{
	list-style:none;
	float:left;	
	margin-right:25px;
	transition: all 0.3s ease-in-out 0s;
	position:relative;
	padding-bottom:10px;
}

nav > ul > li > a{
	display:block;
	color:#3c3b3b;
	font-size:25px;
    font-family: 'lunchboxlight';
	text-align:center;
	transition: all 0.3s ease-in-out 0s;
	min-height:50px;
	line-height:25px;
	padding-top:10px;
	padding-right:0;
}

nav > ul > li.active > a{
	color:#069d2d;
}

nav > ul > li a:hover{
	color:#069d2d;
	transition: all 0.3s ease-in-out 0s;
}

nav > ul > li > ul{
	margin:0;
	padding:0;
	background:#353334;
	width:940px;
	position:absolute;
	left:-830px;
	top:90px;
	z-index:1233;
	display:none;
}

nav > ul > li > ul > li{
	list-style:none;
	/*border-right:#f3efe6 dashed 2px;
	border-bottom:#f3efe6 dashed 2px;*/
	width:25%;
	min-height:200px;
	float:left;
	background-image:url(../images/sub-nav-line1.png), url(../images/sub-nav-line2.png);
	background-repeat:repeat-y, repeat-x;
	background-position:100% 100%, 100% 93%;
}
	
.sub-nav4{
	background-image:none, url(../images/sub-nav-line2.png);
}

nav ul li ul li h3{
	/*border-bottom:#f3efe6 dashed 2px;*/
	height:35px;
	display:block;
	background:url(../images/sub-nav-line2.png) repeat-x left bottom;
	padding-top:10px;
	padding-left:10px;
    font-family: 'lunchboxregular';
	font-size:22px;
	color:#f3efe6;
	line-height:22px;
}

nav ul li ul li h3 img{
	margin-right:10px;
}

nav > ul > li > ul > li > ul{
	margin:10px 0 0 10px;
	padding:0;
	}

nav > ul > li > ul > li > ul > li{
	list-style:none;
	margin-bottom:5px;
}

nav > ul > li > ul > li > ul > li > a{
	list-style:none;
	font-size:16px;
	color:#ffffff;
    font-family: 'lunchboxregular';
	line-height:18px;
	transition: all 0.3s ease-in-out 0s;
}

nav > ul > li > ul > li > ul > li > a:hover{
	color:#069d2d !important;
	transition: all 0.3s ease-in-out 0s;
}

.nav-desk{
	display:block;
}

.nav-m{
	display:none;
}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
nav > ul > li > a{
		padding-top:15px;
}

 ::i-block-chrome, nav > ul > li > a{
		padding-top:0px;
}
} 



.nav1{
	background:url(../images/nav-bg1.png) no-repeat center top;
	width:131px;
	height:76px;
	transition: all 0.3s ease-in-out 0s;
}

.nav1:hover{
	background:url(../images/nav-bg1-hover.png) no-repeat center top;
	transition: all 0.3s ease-in-out 0s;
}

.nav1.active{
	background:url(../images/nav-bg1-hover.png) no-repeat center top;
}

.nav2{
	background:url(../images/nav-bg2.png) no-repeat center top;
	width:77px;
	height:77px;
}

.nav1 a{
	height:67px;
}

.nav2 a{
	height:67px;	
	}

.nav2:hover{
	background:url(../images/nav-bg2-hover.png) no-repeat center top;
	width:77px;
	height:77px;
}

.nav2.active{
	background:url(../images/nav-bg2-hover.png) no-repeat center top;
}

.nav3{
	background:url(../images/nav-bg3.png) no-repeat center top;
	width:74px;
	height:50px;
	margin-top:15px;
	}
	
.nav3 a{
	height:40px;
}
	
.nav3:hover{
	background:url(../images/nav-bg3-hover.png) no-repeat center top;
}

.nav3.active{
	background:url(../images/nav-bg3-hover.png) no-repeat center top;
}

.nav4{
	background:url(../images/nav-bg4.png) no-repeat center top;
	width:95px;
	height:79px;
}

.nav4 a{
	height:69px;
}

.nav4:hover{
	background:url(../images/nav-bg4-hover.png) no-repeat center top;
}

.nav4.active{
	background:url(../images/nav-bg4-hover.png) no-repeat center top;
}

.nav5{
	background:url(../images/nav-bg5.png) no-repeat center top;
	width:106px;
	height:80px;
	margin-right:0
	}
	
.nav5:hover{
	background:url(../images/nav-bg5-hover.png) no-repeat center top;
}

.nav5.active{
	background:url(../images/nav-bg5-hover.png) no-repeat center top;
}

.nav5:hover a{
	color:#FFF;	
}

.nav5.active a{
	color:#FFF;	
}


	
.nav5 > a{
	color:#FFF;
	text-align:left;
	padding-left:10px;
	padding-top:15px;
	height:65px;
	}



.banner-wrap{
	
}

.banner{
	position:relative;
}

.banner ul {
	}

.banner ul li{
	list-style:none;
	/*background-position: center top !important;
    background-size: cover !important;*/
    width: 100% !important;
	position:relative;
}

.index-banner ul li{
	list-style:none;
	background-position: center top !important;
    background-size: cover !important;
    width: 100% !important;
	position:relative;
}

.banner-text{
	background-image:url(../images/banner-text-logo.png);
	background-repeat:no-repeat;
	background-position:20px 10px;
	background-color:rgba(240, 234, 221, 0.8);
	width:720px;
	position:absolute;
	left:50%;
	margin-left:-360px;
	bottom:60px;
	border-radius:6px;
	font-size:16px;
	color:#292929;
	line-height:22px;
	letter-spacing:0.04em;
}

.banner-text-content{
	position:relative;
	padding:15px 30px 15px 90px;
}

.banner-next{
	background:url(../images/banner-next.png) no-repeat;
	width:34px;
	height:44px;
	position:absolute;
	right:-40px;
	cursor:pointer;
	top:50%;
	margin-top:-22px;
	min-height:30px;
}

.banner-prev{
	background:url(../images/banner-prev.png) no-repeat;
	width:34px;
	height:44px;
	position:absolute;
	left:-40px;
	cursor:pointer;
	top:50%;
	margin-top:-22px;
	min-height:30px;
}

.index-search-video-wrap{
	background:url(../images/index-search-video-bg.png) center bottom repeat-x;
}

.index-search-video{
	max-width:940px;
	margin:0 auto;
	padding:25px 10px 50px 10px;
	overflow:hidden;
}

.index-search{
	width:43.8%;
	float:left;
}

.index-video{
	width:51.4%;
	float:right;
	}

.index-video h2{
	font-family: 'lobster_1.3regular';
	font-size:35px;
	color:#292929;
	line-height:35px;
	color:#069d2d;
	margin:25px 0 20px 0;
	text-align:center;
}

.index-video h2 span{
	display:inline-block;
	color:#292929;
	padding:0 10px;
}

.index-video-img{
	background:#efeeec;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	border-radius:3px;
	padding:4px;
	max-width:476px;
	margin:0 auto;
	}
	
.index-video-img img{
	border-radius:3px;
}

.index-search-title{
	position:relative;
	max-width:412px;
	margin:0 auto 20px auto;
}

.index-search-title div{
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#FFF;
	width:290px;
	position:absolute;
	left:10px;
	top:13px;
	text-align:center;
	text-transform:uppercase;
	line-height:32px;
}

.index-search-form{
	
}

/*----------*/
.multi-select{
	position:relative;
	margin-bottom:13px;
	}

/*
.multi-select select{
	width:100%;
	height:50px;
	background-color:transparent;
	background:url(../images/index-search-video-bg.png);
	background:#dfd8c6;
	border:0;
	outline:none;
}
*/

.selectdiv {
    width:100%;
    border:0px solid #CACCCA;
    height:54px;
    background:url(../images/select-arrow.png) no-repeat right center rgba(232, 228, 214, 0.45);
    border-radius:3px;
    cursor:pointer;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	
}/*
.selectdiv:hover, .selectdiv:focus {
    width:220px;
    border:1px solid #ccc;
    height:25px;
    background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right;
    border-radius:3px;
    cursor:pointer;
}*/
.selectdiv div {
    z-index:-1;
    border:0px solid #000;
    height:23px;
    overflow:hidden;
    padding:1px 0px 0px 5px;
    cursor:pointer;
}
.selectboxdiv {
    height: 25px;
    left: 9px;
    margin-top: 0;
    position: absolute;
    width: 220px;
    z-index: 2;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    cursor:pointer;
}

.selectboxdiv{
	left:0;
	}

.multi-select .out{
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0px 3%;
    width: 94%;
	padding-top:8px;
}

.wrapper-dropdown-4 .dropdown li label{
	border-bottom:#CACCCA solid 1px;
	margin:0; 
	}

/*------------------*/

.select-date{
	}
	
.select-date label{
    font-family: 'lunchboxbold';
	font-size:24px;
	color:#069d2d;
	display:block;
	margin-bottom:10px;
	letter-spacing:0.05em;
}

.select-date input{
    width:95%;
    border:0px solid #CACCCA;
    height:54px;
    background:url(../images/date-icon.png) no-repeat right center rgba(232, 228, 214, 0.45);
    border-radius:3px;
    cursor:pointer;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	padding-left:5%;
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
}

.select-date-start{
	width:48%;
	float:left;
	}
	
input.search-submit{
	background:url(../images/btn-bg.png) no-repeat;
	width:158px;
	height:52px;
	box-shadow:none;
	padding:0 !important;
	margin:5px 0 0 0;
	border:0;
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#FFF;
	line-height:30px;
	cursor:pointer;
	line-height:52px;
	margin-top:15px;
}
	
.select-date-end{
	width:48%;
	float:right;
}

#ui-datepicker-div{
	z-index:12345 !important;
	}

.ui-datepicker{
	background:#f1f1f1;
	border:#ccc solid 1px;
	padding:10px;	
	font-size:13px;
	display:none;
}

.ui-datepicker td a{
	padding:5px;
	}

.ui-datepicker a{
	color:#333;
}

.ui-datepicker-prev{
	float:left;
	display:inline-block;
	cursor:pointer;
	}

.ui-datepicker-next{
	float:right;
	display:inline-block;
	cursor:pointer;
	}

.ui-datepicker-title{
    font-family: 'myriad_probold';
	text-align:center;
	color:#069D2D;
	margin-bottom:10px;
	}
	
.ui-datepicker-week-end a{
	color:#f00;
	}
	
.ui-state-hover{
	/*background:#999;*/
	}
	
.ui-state-hover{
	color:#FFF !important;
}

.wild-packages-wrap{
	width:100%;
	background:#FFF;
	position:relative;
}

.wild-packages{
	width:100%;
	overflow:hidden;
	margin:0 auto;
}

.wild-packages-slider{
	width:100%;

	}

.wild-packages ul li{
	list-style:none;
	/*float:left;*/
	position:relative !important;
}

.wild-packages-slider img{
	width:auto !important;
	height:auto !important;
}

.wild-packages ul li > div{
	position:absolute;
	height:110px;
	bottom:-2px;
	left:0;
	width:90%;
	background:url(../images/package-bg.png);
	padding:20px 5% 30px 5%;
	color:#292929;
	transition: all 0.3s ease-in-out 0s;
}
.wild-packages ul li > div a{
	color:#292929;
	transition: all 0.3s ease-in-out 0s;
	}

.wild-packages ul li:hover > div{
	background:url(../images/package-hover.png);
	color:#FFF;
	transition: all 0.3s ease-in-out 0s;
}

.wild-packages ul li:hover > div a{
	color:#FFF;
	transition: all 0.3s ease-in-out 0s;
	}

.wild-packages ul li h3{
    font-family: 'lunchboxbold';
	font-size:28px;
	margin-bottom:5px;

}

.wild-packages ul li span{
	display:block;
    font-family: 'myriad_probold';
	font-size:16px;
	margin-bottom:0px;
}

.wild-packages ul li p{
	padding:0;
	margin:0;
	font-size:16px;
	line-height:22px;
	white-space:normal !important;
	}
	
.package-slider-nav-bg{
	background:url(../images/package-slider-nav-bg.png) no-repeat;
	width:193px;
	height:53px;
	position:absolute;
	left:50%;
	margin-left:-95px;
	z-index:123;
	bottom:-25px;
}

.package-slider-nav-prev{
	background:url(../images/prev-arrow.png) no-repeat;
	width:23px;
	height:16px;
	float:left;
	margin-left:34px;
	margin-top:18px;
	cursor:pointer;
}

.package-slider-nav-next{
	background:url(../images/next-arrow.png) no-repeat;
	width:23px;
	height:16px;
	float:right;
	margin-right:34px;
	margin-top:18px;
	cursor:pointer;
}

.explore-eco-focus{
	max-width:940px;
	margin:0 auto;
	padding:60px 10px;
}

.explore{
	width:59%;
	float:left;
}

.eco-focus{
	width:39%;
	float:right;
}

.explore h2{
	font-family: 'lobster_1.3regular';
	font-size:48px;
	color:#292929;
}

.explore h2 span{
	display:inline-block;
	padding:0 5px;
	color:#069d2d;	
}

.explore h3{
    font-family: 'lunchboxregular';
	font-size:25px;
	color:#069d2d;
	margin-bottom:10px;
	line-height:32px;
	margin-top:15px;
}

.explore-text{
	color:#292929;
	line-height:22px;
}

.eco-focus-title{
	background:url(../images/eco-focus-title-bg.png) center top no-repeat;
    font-family: 'lunchboxregular';
	text-align:center;
	font-size:40px;
	color:#3c3b3b;
	height:61px;
	line-height:40px;
	padding-top:8px;
}

.eco-focus-content{
	position:relative;
	text-align:center;
	padding-top:30px;
}

.eco-focus-content ul li{
	list-style:none;
	text-align:center;
	}

.eco-focus-content ul li h4{
    font-family: 'myriad_probold';
	font-size:18px;
	color:#292929;
	line-height:18px;
	margin-bottom:20px;
	text-align:center !important;
	}

.eco-focus-slider{

	margin:0 auto;
	}

.eco-focus-slider-img{
	padding-bottom:35px;
	border-bottom:#3c3b3b solid 1px;
	margin:0 30px;
	margin-bottom:20px;
}

.eco-focus-slider-text{
	margin:0 auto;
	padding:0 30px
	}
	
.eco-focus-slider-next{
	background:url(../images/eco-focus-slider-next.png);
	width:32px;
	height:50px;
	position:absolute;
	top:120px;
	right:10px;
	cursor:pointer;
	z-index:123;
}

.eco-focus-slider-prev{
	background:url(../images/eco-focus-slider-prev.png);
	width:32px;
	height:50px;
	position:absolute;
	top:120px;
	left:10px;
	cursor:pointer;
	z-index:123;
}

.testimonials{
	background:url(../images/testimonial-bg.png) no-repeat center top;
	width:886px;
	height:267px;
	margin:30px auto;
	position:relative;
}

.testimonials-title{
	background:url(../images/testimonial-title-bg.png) no-repeat;
	width:288px;
	height:56px;
	position:absolute;
	left:-20px;
	top:-20px;
    font-family: 'lunchboxbold';
	color:#ffffff;
	font-size:30px;
	padding-left:40px;
	padding-top:12px;
}

.testimonials-text{
	width:300px;
	margin:0 auto 0 auto;
	padding-top:80px;
    font-family: 'architects_daughterregular';
	font-size:18px;
	color:#292929;
	line-height:25px;
	text-align:center;
}

.testimonials-text span{
	display:block;
	text-align:right;
	padding-top:10px;
    font-family: 'lunchboxbold';
	font-size:30px;
	color:#069d2d;
}

.photo-blog{
	max-width:940px;
	margin:0 auto;
	padding:0 10px;
	position:relative;
}

.index-blog-pager{
	text-align:right;
	position:absolute;
	bottom:0;
	right:0;
	z-index:1234;
	}
	
.index-blog-pager span{
	background:#FFF;
	width:15px;
	height:15px;
	display:inline-block;
	margin-right:10px;
	font-size:0;
	border-radius:100px;
	cursor:pointer;
	}
	
.index-blog-pager span.cycle-pager-active{
	background:#15a744;
	}

.photo-blog-title{
	background: url("../images/eco-focus-title-bg.png") no-repeat;
    color: #3C3B3B;
    font-family: 'lunchboxregular';
    font-size: 40px;
    height: 61px;
    line-height: 40px;
    padding-top: 8px;
    text-align: center;
	width:255px;
	margin-bottom:30px;
}

.photo-blog-post{
	
}

.photo-blog-post ul li{
	list-style:none;
}

.blog-post-img{
	background:url(../images/photo-blog-img-bg.png);
	width:386px;
	height:412px;
	position:relative;
	float:left;
}

.blog-post-img img{
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	border-radius:3px;
	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.7);
}

.blog-post-text{
	width:56.4%;
	float:right;
}

.blog-post-date-author{
	font-size:16px;
	color:#292929;

}

.blog-post-text h3{
    font-family: 'lobster_1.3regular';
	font-size:25px;
	color:#069d2d;
	margin:10px 0;
	}
	
.blog-post-text h3 a{
	color:#069d2d;
	}

.blog-post-date-author span{
	display:inline-block;
	float:right;
	}
	
.blog-post-text1{
	font-size:16px;
	line-height:22px;
	color:#292929;
	}

.blog-post-ream-more{
	margin-top:10px;
	}
	
.blog-post-ream-more a{
	display:inline-block;
	background:url(../images/blog-post-ream-more-arrow.png) no-repeat right 10px;
	padding-right:30px;
    font-family: 'lunchboxbold';
	font-size:22px;
	color:#069d2d;
}



.footer-wrap{
	background:url(../images/footer-bg.png) center top repeat-x;
	margin-top:100px;
}

.footer-bottom{
	background:url(../images/footer--bottom.png) center bottom;
	min-height:400px;
	width:100%;
	display:inline-block;
	margin-top:135px;
}

footer{
	max-width:940px;
	margin:0 auto;	
}

footer ul li{
	list-style:none;
	width:31%;
	margin-right:3%;
	float:left;
	}
	
footer ul li:last-child{
	margin-right:0;
}

footer ul li h3{
	border-bottom:#a5a089 solid 1px;
	margin-bottom:10px;
	padding-bottom:15px;
    font-family: 'lobster_1.3regular';
	font-size:25px;
	color:#3c3b3b;
	padding-left:20px;
}

.quick-contact{}

.quick-contact p{
	margin:0 0 11px 0;
	padding:0;
	}

.quick-contact a{
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
	line-height:18px;
	margin:0 0 7px 0;
	padding:0 0 0 20px;
	display: block;
}

.get-connected{
	padding-left:20px;
}

.get-connected a{
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
	line-height:37px;
	display:block;
	margin-bottom:20px;
	height:37px;
	padding-left:50px;
}


.facebook{
	background:url(../images/facebook.png) no-repeat;
}

.twitter{
	background:url(../images/twitter.png) no-repeat;
}

.linkedin{
	background:url(../images/linkedin.png) no-repeat;
}

.youtube{
	background:url(../images/youtube.png) no-repeat;
}

.footer-contact{
	padding-left:20px;
}

.footer-contact-icon{
	width:18%;
	float:left;
	max-width:50px;
}

.footer-contact-address{
	width:81%;
	float:left;
	margin-bottom:6px;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
	padding-top:3px;
}

.footer-contact-address a{
	color:#3c3b3b;
}

.footer-contact-address p{
	margin:0 0 10px 0;
}

.copyright{
	border-top:#a5a089 solid 1px;
	margin-top:35px;
	padding:20px 0;
	text-align:center;
	color:#3c3b3b;
	font-size:14px;
	line-height:22px;
}

.copyright a{
	color:#3c3b3b;
}

.copyright span{
	display:block;
	padding-top:5px;
}


/*------------------*/

.banner-inner{

}

.banner-inner ul li{

}

.banner-inner ul li img{
	/*min-height:250px;*/
	}


.wild-team{
	max-width:940px;
	margin:0 auto;
	padding:30px 10px;
	}

.wild-team-left{
	width:25.6%;
	float:left;
}

.wild-team-right{
	width:72.2%;
	float:right;
}

.wild-team-logo{
	margin-bottom:30px;
}

.wild-team-disc{
	
}

.wild-team-tabs{
}


.wild-team-tabs li{
	list-style:none;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#292929;
	margin-bottom:15px;
}

.wild-team-tabs li img{
	margin-right:20px;
	border-radius:3px;
	vertical-align:middle;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.40);
	}

.wild-team-tabs li a{
	color:#292929;
	display:block;
}

.wild-team-tabs li a span{
	float:right;
	background:url(../images/team-nav-arrow.png) 0 8px no-repeat;
	width:7px;
	height:25px;
	display:inline-block;
	display:none;
}

.wild-team-tabs li:hover{
	background:none !important;
}

.wild-team-tabs li a:hover{
	color:#069d2d;
}

.wild-team-tabs li a:hover span{
	display:inline-block;
	}
	
.wild-team-tabs li.ui-tabs-active a{
	color:#069d2d;
}

.wild-team-tabs li.ui-tabs-active a span{
	display:inline-block;
}

.team-disc-icon-top{
	text-align:right;
	margin-bottom:30px;
}

.team-member-photo{
	width:37%;
	float:left;
}

.team-member-photo img{
	border-radius:4px;
	border:#000 solid 2px;
}

.team-member-proile{
	width:60.7%;
	float:right;
}

.team-member-proile h3{
    font-family: 'lunchboxbold';
	font-size:30px;
	color:#3c3b3b;
	margin-bottom:10px;
}

.team-member-proile h5{
    font-family: 'myriad_probold';
	font-size:20px;
	color:#069d2d;
	margin-bottom:10px;
}

.team-member-proile ul{
	margin-left:20px;
}

.team-member-proile ul li{
	list-style:none;
	background:url(../images/taem-profile-bullet.png) no-repeat 0 5px;
	padding-left:25px;
    font-family: 'myriad_probold';
	font-size:16px;
	color:#292929;
	margin-bottom:15px;

}

.team-profile-disc{
	font-size:16px;
	color:#292929;
	line-height:22px;
	margin-top:30px;

}


.wild-team-motto{
	padding:20px 0;
}

.wild-team-motto-title{
	background:url(../images/wild-team-motto-title.png) no-repeat;
	height:110px;
	margin-bottom:10px;
}


.what-is-so-wild-about-us-title{
	background:url(../images/what-is-so-wild-about-us-title.png) no-repeat;
	height:95px;
}

.wild-team-motto-left{
	width:26%;
	float:left;
	text-align:center;
}

.wild-team-motto-right{
	width:72%;
	float:right;
	color:#292929;
	line-height:22px;
	font-size:16px;
}

.wild-team-motto-right b{
	font-size:30px;
	color:#069d2d;
	line-height:30px;
	font-weight:normal;
}

.wild-team-motto-right-title{
    font-family: 'lobster_1.3regular';
	font-size:40px;
	color:#3c3b3b;
	display:block;
	text-align:center;
	margin-bottom:20px;
	line-height:40px;
}

.wild-team-motto-right-title span{
	color:#069d2d;
	}
	
.what-is-so-wild-about-us{
	background:url(../images/what-is-so-wild-about-us-bg.png);
	max-width:940px;
	height:554px;
	padding-top:70px;
	}
	
.what-is-so-wild-about-us-sub-title{
	text-align:center;
}

.what-is-so-wild-about-us-text{
	margin:0 auto;
	margin-top:80px;
	max-width:425px;
   font-family: 'architects_daughterregular';
	font-size:18px;
	color:#292929;
	line-height:25px;
	text-align:center;
	min-height:200px;
	}
	
.what-is-so-wild-about-us-text span{
	display:block;
	text-align:right;
	padding-top:10px;
    font-family: 'lunchboxbold';
	font-size:30px;
	color:#069d2d;
}

.wild-university-report-card-ranting{
	text-align:right;
	margin-top:20px;
	padding-right:35px;
}

.wild-university-report-card-ranting ul li{
	background:url(../images/star.png) no-repeat;
	width:29px;
	height:29px;
	display:inline-block;
	list-style:none;
}

.wild-university-report-card-grade{
	max-width:800px;
	margin:0 auto;	
	margin-top:10px;
}

.wild-university-report-card-grade ul li{
	list-style:none;
	width:30%;
	float:left;
	margin-right:3%;
    font-family: 'lunchboxbold';
	font-size:48px;
	color:#069d2d;
}

.wild-university-report-card-grade ul li span{
	display:inline-block;
	font-size:25px;
	color:#292929;
	line-height:32px;
	margin-right:30px;
    font-family: 'myriad_proregular';
}

.we-love-about-wild-focus-title{
	text-align:center;
	display:block;
	margin-bottom:10px;
}

.we-love-about-wild-focus-title-sm{
	text-align:center;
	display:none;
	margin-bottom:10px;
}

.wild-photo-montage-title{
	text-align:center;
	display:block;
	margin-bottom:10px;
	margin-top:30px;
}

.wild-photo-montage-title-sm{
	text-align:center;
	display:none;
	margin-bottom:10px;
}

.wild-photo-video{
	text-align:center;
	position:relative;
	margin:40px 0;
	}
	
.wild-photo-video iframe{
	width:575px;
	height:284px;
	margin-top:60px;
	z-index:0 !important;
	position:relative;
}

	
.wild-photo-video-frame{
	background:url(../images/wild-photo-video.png) no-repeat center top;
	width:100%;
	height:402px;
	position:absolute;
	top:0;
	left:0;
}

.photo-tours{
	max-width:940px;
	margin:0 auto;
	padding:0 10px;
}

.photo-tours-list{
	margin-top:50px;
}

.photo-tours-list h2{
	background:url(../images/title-line.png) repeat-x left bottom;
	padding-bottom:25px;
    font-family: 'lunchboxregular';
	font-size:40px;
	color:#3c3b3b;
	line-height:40px;
}

.photo-tours-list h2 img{
	vertical-align:top;
	margin-left:20px;
}

.photo-tours-list ul{
	width:100%;
	margin-top:30px;
	}

.photo-tours-list ul li{
	list-style:none;
	width:23.4%;
	margin-right:2.1%;
	float:left;
}

.photo-tours-list ul li:last-child{
	margin-right:0;
}

.photo-tours-list ul li a{
	display:block;
	background:#3c3b3b;
	border-radius:3px;
	transition: all 0.3s ease-in-out 0s;
	padding:10px;
}

.photo-tours-list ul li a:hover{
	background:#099613;
	transition: all 0.3s ease-in-out 0s;
}

.photo-tours-list ul li a h3{
    font-family: 'lunchboxregular';
	font-size:17px;
	color:#FFF;
	height:45px;
	line-height:22px;
	overflow: hidden;
}

.photo-tours-list-img{
	margin-top:10px;
}

.photo-tours-list-disc{
	background:#FFF;
	height:63px;
	font-size:14px;
	color:#292929;
	border-radius:0 0 3px 3px;
	padding:5px 10px;
}

.photo-tours-list-disc span{
	display:block;
    font-family: 'myriad_probold';
	font-size:14px;
	color:#292929;
	margin-bottom:7px;
}

.photo-tours-banner-text{
	max-width:940px;
	margin:0 auto;
	position:relative;
}

.photo-tours-banner-text-inner{
	padding-left:385px;
	padding-top:20px;
	font-size:16px;
	color:#FFF;
}

.photo-tours-banner-text-inner h3{
    font-family: 'lobster_1.3regular';
	font-size:40px;
	color:#069d2d;
	line-height:40px;
	margin-bottom:10px;
}

.photo-tours-banner-text-inner h4{
	margin-top:15px;
    font-family: 'lunchboxbold';
	font-size:25px;
	color:#000;
	margin-bottom:10px;
	line-height:25px;	
}

.photo-tours-banner-text-inner b{
	font-size:30px;
	/*color:#069d2d;*/
    font-family: 'myriad_probold';
	font-weight:normal;
}


.photo-tour-banner-text{
	background: rgba(0, 0, 0, 0.55);
	min-height:50px;
	width:940px;	
	z-index:12345;
	position:absolute;
	margin:0 auto;
	left:50%;
	bottom:20px;
	margin-left:-470px;
	border-radius:3px;
	}
	
.photo-tour-banner-text-inner{
	position:relative;
	width:100%;
}

.trip-detail-slider-logo{
	background:url(../images/trip-detail-slider-logo.png);
	width:86px;
	height:111px;
	position:absolute;
	right:0;
	top:-23px;
	}


.banner-pager{
	display:inline-block;
	padding-left:20px;
}

.banner-pager span{
	height:13px;
	width:13px;
	background:#FFF;
	font-size:0;
	border-radius:100px;
	display:inline-block;
	margin:0 5px;
	cursor:pointer;
}

.banner-pager span.cycle-pager-active{
	background:#24a043;	
	}
	
.banner-inner{
	position:relative;
}


.trip-details{
	max-width:940px;
	margin:0 auto;
	padding:50px 10px 10px 10px;
}

.trip-details h2{
    font-family: 'lobster_1.3regular';
	font-size:40px;
	line-height:40px;
	color:#3c3b3b;
	padding-bottom:25px;
	margin-bottom:20px;
	background:url(../images/title-line.png) repeat-x left bottom;
}

.trip-details-left{
	width:25.5%;
	float:left;
}

.trip-details-right{
	width:72.3%;
	float:right;
	font-size:16px;
	line-height:22px;
	color:#292929;
}

.trip-details-left-nav{
	
}

.trip-details-left-nav ul li{
	list-style:none;
	margin-bottom:20px;
}

.trip-details-left-nav ul li a{
	display:block;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#292929;
}

.trip-details-left-nav ul li a span{
	width:48px;
	display:inline-block;
	}
	
.trip-details-left-nav ul li a span img{
	vertical-align:middle;
	}

.trip-details-left-nav ul li a:hover{
	color:#069d2d;
}

.trip-details-left-nav ul li a.active{
	color:#069d2d;
}

.trip-details-right-left{
	width:366px;
	float:left;
}

.trip-details-right-right{
	width:311px;
	float:right;
	background:url(../images/photo-tours-dates-fees-img.png) no-repeat;
	width:311px;
	height:324px;
	position:relative;
}

.trip-details-right-right img{
	transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.trip-details-right h3{
    font-family: 'lunchboxbold';
	font-size:30px;
	color:#069d2d;
	margin-bottom:20px;
	line-height:30px;
}

.trip-details-dates-fees-content{}

.trip-details-dates-fees-content ul li{
	list-style:none;
	margin-bottom:20px;
	padding-left:62px;
	min-height:50px;
    font-family: 'myriad_probold';
	line-height:30px;
	font-size:20px;
	color:#3c3b3b;
}

.trip-details-dates-fees-content ul li h4{
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#069d2d;
	margin-bottom:5px;
	}

.trip-details-dates-fees-content1{
	background:url(../images/photo-tours-dates-fees-date.png) no-repeat;
	}
	
.trip-details-dates-fees-content2{
	background:url(../images/photo-tours-dates-fees-duration.png) no-repeat;
}

.trip-details-dates-fees-content3{
	background:url(../images/photo-tours-dates-fees-group-size.png) no-repeat;
}

.trip-details-dates-fees-content4{
	background:url(../images/photo-tours-dates-fees-rates.png) no-repeat;
}

.trip-details-dates-fees-content4 span{
	width:50%;
	display:inline-block;
	float:left;
	}
	
.trip-details-right h4{
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#069d2d;
	margin-bottom:5px;
}

.trip-details-content-long{
}

.trip-details-content-long img{
	margin-top:10px;
}

.trip-details-content-long h4{
	margin-top:20px;
}

.trip-details-content-long ul{
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
	}

.trip-details-content-long ul li{
	list-style:none;
	background:url(../images/taem-profile-bullet.png) no-repeat 0 5px;
	padding-left:25px;
    font-family: 'myriad_probold';
	font-size:16px;
	color:#292929;
	margin-bottom:15px;
}

.amazing-destinations-text{
	
}

.amazing-destinations-text a{
	color:#069d2d;
}

.amazing-destinations-text b{
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#069c2e;
	font-weight:normal;
}
	
.amazing-destinations-text strong{
    font-family: 'myriad_probold';
	font-size:16px;
	color:#292929;
	font-weight:normal;
}

.amazing-destinations-img2{
	float:right;
}

.organitation-we-support-title{
	display:block;
	margin:30px 0;
}

.organitation-we-support-title-sm{
	display:none;
	text-align:center;
	margin:30px 0;
}


.organitation-we-support{
	
}

.organitation-we-support ul li{
	list-style:none;
	margin-bottom:20px;
}

.organitation-we-support-left{
	width:19.2%;
	float:left;
	text-align:center;
}

.organitation-we-support-right{
	width:78%;
	float:right;
}

.organitation-we-support-right h4{
    font-family: 'lobster_1.3regular';
	font-size:20px;
	margin-bottom:10px;
	color:#3c3b3b;	
}

.sustainable-travel-img2{
	float:right;
	}
	
.sustainable-travel-img{
	margin:20px 0;
	}

.sustainable-travel-img ul li{
	width:33%;
	float:left;
	list-style:none;
}

.greengeeks{
	margin-top:30px;
}

.greengeeks-title{
    font-family: 'lunchboxbold';
	font-size:30px;
	color:#069d2d;
	margin-bottom:20px;
	line-height:30px;
}

.greengeeks-img-1{
	float:right;
	margin-left:20px;
}

.recycling-energy-saving{
	margin-top:30px;
}

.recycling-energy-saving-title{
	margin-bottom:15px;
}

.recycling-energy-saving-img1{
	float:right;
	margin-left:20px;
}

.wild-crew-loyalty{}

.wild-crew-loyalty-left{
	width:62%;
	float:left;
}

.wild-crew-loyalty-left img{
	margin-bottom:30px;
	}

.wild-crew-loyalty-right{
	width:33.5%;
	float:left;
	text-align:center;
}

.so-are-you-in{
	}

.so-are-you-in-title{
	margin-bottom:20px;
}

.so-are-you-in-img{
	text-align:center;
	margin:20px auto;
}

.privacy-policy-left-img{
	vertical-align:baseline;
	margin-top:150px;
	}
.privacy .trip-details{
	padding-bottom:0;
	background-image:url(../images/privacy-policy-left-img.png);
	background-repeat:no-repeat;
	background-position:0% 100%;
	}
.privacy .trip-details-content-long{
	padding-bottom:100px;
	}
.privacy .footer-wrap{
	margin:0;
	background-position:0% -60%;
	background-color:transparent !important;
	position:relative;
	z-index:100;
	margin-top:-30px;
}

.faq{
	padding-bottom:300px;
	}

.faq-left{
	width:68.1%;
	float:left;
}

.faq-right{
	width:29.9%;
	float:right;	
}

.faq-left h3{
    font-family: 'lunchboxregular';
	font-size:25px;
	color:#069d2d;
	line-height:25px;
	margin-bottom:20px;
}

.faq-list{
	margin-bottom:50px;
}

.accodian{
	margin:0;
	padding:0;
	}

.accodian span{
}

.accodian li{
	position:relative;
	list-style:none;
	margin-bottom:5px;
}

.accodian li h5{
	margin:0;
	padding:0 0 0 15px;
	height:auto;
	cursor:default;
	cursor:pointer;
	position:relative;
	font-weight:normal;
	padding:0;
	border-radius:4px;
	border-radius:3px;
	display:block;
    font-family: 'lunchboxregular';
	font-size:20px;
	color:#3c3b3b;
	padding:10px 70px 10px 20px;
}


.accodian li h5 a{
	color:#069d2d;
	cursor:default;
	cursor:pointer;	
}

.accodian li div{
	line-height:22px;
	color:#292929;
	padding:20px;
	text-align:justify;
	background:url(../images/faq-detail-bg.png);
	border:#ada89c solid 1px;
}

.accodian li div a{
	color:#555555 ;
}

/*.minus { 
	background:url(../images/open-icon.png) no-repeat right 12px, url(../images/faq-title.png);
}

.plus{
	background:url(../images/close.png) no-repeat right 12px, url(../images/faq-title.png);
}*/

.minus { 
	/*background:url(../images/open-icon.png) no-repeat right 12px, url(../images/faq-title.png);*/
	background-image:url(../images/open-icon.png), url(../images/faq-title.png);
	background-repeat:no-repeat, repeat;
	background-position:right 12px, 0 0;
}

.plus{
	/*background:url(../images/close.png) no-repeat right 12px, url(../images/faq-title.png);*/
	background-image:url(../images/close.png), url(../images/faq-title.png);
	background-repeat:no-repeat, repeat;
	background-position:right 12px, 0 0;
}

.get-in-touch{
}

.get-in-touch-title{
	
}

.get-in-touch p{
	margin-bottom:13px;
	}

.get-in-touch input{
    width:95%;
    border:0px solid #CACCCA;
    height:54px;
    background:rgba(232, 228, 214, 0.45);
    border-radius:3px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	padding-left:5%;
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
}

.get-in-touch textarea{
    width:95%;
    border:0px solid #CACCCA;
    height:133px;
    background:rgba(232, 228, 214, 0.45);
    border-radius:3px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	padding-left:5%;
	padding-top:10px;
	padding-bottom:10px;
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
}

	
input[type="submit"].get-in-touch-submit{
	background:url(../images/btn-bg.png) no-repeat;
	width:158px;
	height:52px;
	box-shadow:none;
	padding:0 !important;
	margin:15px 0 0 0;
	border:0;
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#FFF;
	line-height:30px;
	cursor:pointer;
	line-height:52px;
}

.get-in-touch-captcha{
	
}

.get-in-touch-captcha img{
	float:left;
}

.get-in-touch-captcha input{
	float:right;
	width:55%;
}

.faq-image{
	
	}
	
.faq-image .trip-details{
	padding-bottom:0;
	background-image:url(../images/faq-monkey.png);
	background-repeat:no-repeat;
	background-position:100% 103%;
}
.faq-image .trip-details-content-long{
	padding-bottom:150px;
}
	
.faq-image .footer-wrap{
	margin:0;
	background-position:0% -60%;
	background-color:transparent !important;
	position:relative;
	z-index:100;
	margin-top:-105px;
}

.blog{
	
}

.blog-left{
	width:74.5%;
	float:left;
}

.blog-right{
	width:23.4%;
	float:right;	
}

.blog-list{
}

.blog-list ul {
    display: inline-block;
    width: 100%;
}

.blog-list ul li{
	list-style:none;
	margin-bottom:35px;
}

.blog-list-left{
	background:url(../images/blog-img-bg.png) no-repeat;
	width:273px;
	height:285px;
	position:relative;
	float:left;
}

.blog-list-left img{
	position:absolute;
	margin:auto;
	left:-3px;
	top:-3px;
	right:0;
	bottom:0;
	transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	border-radius:3px;
	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.7);
	border-radius:3px;
}

.blog-list-left-pin{
	position:absolute;
	background:url(../images/blog-left-img-pin.png) no-repeat;
	width:35px;
	height:45px;
	left:55px;
	top:0;
	z-index:12;
}

.blog-list-right{
	width:400px;
	float:right;
}

.blog-post-by-date{
	font-size:16px;
	color:#292929;
}

.blog-post-by-date a{
	color:#292929;	
}

.blog-post-by-date span{
	display:inline-block;
	float:right;
}

.blog-list-right .blog-post-text{
	width:100%;
	float:none;
}

.blog-subscribe{
		
}

.blog-subscribe-title{
	text-align:center;
	margin-bottom:20px;
}

.blog-subscribe-text{
	margin-bottom:10px;
	font-size:16px;
	color:#292929;
	line-height:22px;
	padding-left:20px;
}

.blog-subscribe-form{
	padding-left:20px;
}

.blog-subscribe-form p{
	margin:0;
	padding:0;
	}

.blog-subscribe-form input{
    width:95%;
    border:0px solid #CACCCA;
    height:54px;
    background:rgba(232, 228, 214, 0.45);
    border-radius:3px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	padding-left:5%;
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
}

.blog-subscribe-form input[type="submit"]{
	box-shadow:none;
	background:url(../images/blog-subscribe-btn.png);
	width:178px;
	height:52px;
	cursor:pointer;
	margin:20px 0 0 0;
	padding:0;
}

.blog-popular{
	margin-top:30px;	
}

.blog-popular-title{
	text-align:center;
	margin-bottom:20px;
}

.blog-popular-list{
	
}

.blog-popular-list ul li{
	list-style:none;
	margin-bottom:15px;
}


.blog-popular-list-img{
	background:url(../images/blog-popular-post-img-bg.png);
	width:82px;
	height:87px;
	position:relative;
	float:left;
}

.blog-popular-list-img img{
	position:absolute;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	border-radius:3px;
	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.7);
	border-radius:3px;
}


.blog-popular-list-text{
	/*width:120px;
	float:right;*/
	width:55%;
	margin-left:10px;
	float:left;
}

.blog-popular-list-text h3{
	font-size:18px;
	color:#069d2d;
	margin-bottom:3px;
	line-height:22px;
}

.blog-popular-list-text h3 a{
	color:#069d2d;
}

.blog-popular-list-text span{
	display:block;
	font-size:16px;
	color:#292929;
}


.latest-tweet{
	margin:30px auto;
	}

.latest-tweet-title{
	margin-bottom:25px;
	text-align:center;
}

.latest-tweet-bg{
	background:url(../images/tweet-bg.png) no-repeat;
	width:150px;
	height:324px;
	padding:40px 35px 20px 35px;
	overflow:hidden;
	margin:0 auto;
}

.latest-tweet-text{
    font-family: 'architects_daughterregular';
	font-size:14px;
	color:#069d2d;
	line-height:22px;
	text-align:center;
}

.pagination-wrap{
	text-align:center;
	}

.pagination{
	
}

.pagination ul{
	display:inline-block;
	margin:0 auto;
}

.pagination ul li{
	float:left;
	text-align:center;
	list-style:none;
	margin:0 5px 10px 5px;
	}
	
.pagination ul li a{
	background:url(../images/blog-pagination-bg.png) no-repeat;
	display:block;
	text-align:center;
    font-family: 'lunchboxbold';
	font-size:18px;
	color:#ffffff;
	line-height:25px;
	height:25px;
	width:40px;
}

.pagination ul li:first-child a{
	background:url(../images/blog-prev.png) no-repeat;
	width:26px;
	}
	
.pagination ul li:last-child a{
	background:url(../images/blog-next.png) no-repeat ;
	width:26px;
	}
	
.pagination ul li:first-child a:hover{
	background:url(../images/blog-prev.png) no-repeat;
	}
	
.pagination ul li:last-child a:hover{
	background:url(../images/blog-next.png) no-repeat ;
	}

.pagination ul li a:hover{
	background:url(../images/blog-pagination-bg-hover.png) no-repeat;
}

.pagination ul li a.active{
	background:url(../images/blog-pagination-bg-hover.png) no-repeat;
}


.blog-detail{
}

.blog-detail .blog-post-text{
	width:100%;
	float:none;
}

.blog-detail .blog-post-date-author{
	margin-bottom:15px;
}

.blog-detail-img{
	background:url(../images/blog-details-img-bg.png);
	width:673px;
	height:374px;
	padding-top:50px;
	padding-left:27px;
	margin-bottom:40px;
}

.blog-detail-text{
	font-size:16px;
	color:#292929;
	line-height:22px;
}

.blog-detail-text strong{
    font-family: 'myriad_probold';
	color:#069d2d;
	font-weight:normal;
}

.blog-detail-text a{
    font-family: 'myriad_probold';
	color:#069d2d;
}

.blog-detail-text ul li{
	list-style:none;
	background:url(../images/taem-profile-bullet.png) no-repeat 0 5px;
	padding-left:25px;
	margin-bottom:10px;
}

.blog-detail-text ul li a{
	font-family: 'myriad_probold';
	color:#069d2d;	
}

.social-share{
	margin:25px 0;
}

.blog-comment-post{
	
}

.blog-comment-post h3{
    font-family: 'lunchboxbold';
	font-size:40px;
	color:#069d2d;
	line-height:40px;
	margin-bottom:20px;
}

.blog-comment-post p{
	margin:0;
	padding:0;
	margin-bottom:12px;
}

.blog-comment-post input{
    width:50%;
    border:0px solid #CACCCA;
    height:54px;
    background:rgba(232, 228, 214, 0.45);
    border-radius:3px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	padding-left:5%;
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
}

.blog-comment-post textarea{
    width:95%;
    border:0px solid #CACCCA;
    height:120px;
    background:rgba(232, 228, 214, 0.45);
    border-radius:3px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.19), inset 0 0px 5px rgba(255, 255, 190, 0.75);
	padding-left:5%;
	padding-top:10px;
	padding-bottom:10px;
    font-family: 'myriad_proitalic';
    color: #292929;
    font-size: 16px;
}

.blog-comment-post .get-in-touch-captcha img{
	margin-bottom:12px;
	}
	
.blog-comment-post .get-in-touch-captcha input{
	margin-bottom:12px;
	}
	
input.blog-comment-submit{
	background:url(../images/btn-bg.png) no-repeat;
	width:158px !important;
	height:52px;
	box-shadow:none;
	padding:0 !important;
	margin:15px 0 0 0;
	border:0;
    font-family: 'lunchboxregular';
	font-size:30px;
	color:#FFF;
	line-height:52px;
	cursor:pointer;
}

.blog-comment{
	margin:30px 0 0 0;
}

.blog-comment h3{
    font-family: 'lunchboxbold';
	font-size:40px;
	color:#069d2d;
	line-height:40px;
	margin-bottom:20px;
}

.view-all-comment{
	display:inline-block;
	float:right;
	text-align:right;
	font-size:22px;
	}
	
.view-all-comment a{
	color:#069d2d;
	}
	
.view-all-comment img{
	vertical-align:middle;
}

.blog-comment ul li{
	list-style:none;
	margin-bottom:10px;
	border:#c1bbac solid 1px;
	padding:20px;
	background:url(../images/blog-comment-bg.png);
	font-size:16px;
	color:#292929;
	line-height:22px;
}

.blog-comment ul li h4{
    font-family: 'myriad_probold';
	font-size:20px;
	color:#292929;
	margin-bottom:5px;
}

.blog-comment ul li h4 span{
    font-family: 'myriad_proregular';
	font-size:16px;
	color:#292929;
}
.contact{
	max-width:940px;
	margin:0 auto;
	padding:50px 10px 10px 10px;
}

.contact-left{
	float:left;
	width:51.9%;
}

.contact-right{
	float:right;
	width:43.9%;
}

.contact-phone{
	
}

.contact-phone-title{
	margin-bottom:20px;
}

.contact-phone-text{
    font-family: 'lunchboxbold';
	font-size:25px;
	color:#3c3b3b;
	padding-left:45px;
	margin-bottom:50px;
}

.contact-phone-text a{
	color:#3c3b3b;
}

.contact-social-icon{
	background:url(../images/contact-links-bg.png) no-repeat;
	width:234px;
	height:266px;
	position:relative;
	margin-left:20px;
}

.contact-social-icon-fb{
	background:url(../images/contact-us-facebook.png);
	width:54px;
	height:55px;
	position:absolute;
	left:83px;
	top:0;
}

.contact-social-icon-fb a{
	width:54px;
	height:55px;
	display:block;
}

.contact-social-icon-fb a:hover{
	background:url(../images/contact-us-facebook-hover.png);
}

.contact-social-icon-twitter{
	background:url(../images/contact-us-twitter.png);
	width:54px;
	height:55px;
	position:absolute;
	right:26px;
	top:65px;
}

.contact-social-icon-twitter a{
	width:54px;
	height:55px;
	display:block;
}

.contact-social-icon-twitter a:hover{
	background:url(../images/contact-us-twitter-hover.png);
}


.contact-social-icon-youtube{
	background:url(../images/contact-us-youtube.png);
	width:54px;
	height:55px;
	position:absolute;
	right:0;
	bottom:13px;
}

.contact-social-icon-youtube a{
	width:54px;
	height:55px;
	display:block;
}

.contact-social-icon-youtube a:hover{
	background:url(../images/contact-us-youtube-hover.png);
}

.contact-social-icon-linkedin{
	background:url(../images/contact-us-linkedin.png);
	width:54px;
	height:55px;
	position:absolute;
	left:0;
	bottom:25px;
}

.contact-social-icon-linkedin a{
	width:54px;
	height:55px;
	display:block;
}

.contact-social-icon-linkedin a:hover{
	background:url(../images/contact-us-linkedin-hover.png);
}


.contact-form{}

.contact-form-title{
	margin-bottom:20px;
}

.contact-form .get-in-touch{
	width:100%;
}

.contact-inc{
	text-align:right;
}

.reasons-to-travel{}

.reasons-to-travel-title{
	margin-bottom:20px;
}

.reasons-to-travel ul{
	margin:0;
	padding:0;
}

.reasons-to-travel ul li{
	list-style:none;
	margin-bottom:50px;
	font-size:16px;
	line-height:22px;
	color:#292929;
}

.reasons-to-travel ul li img{
	float:left;
	}

.reasons-to-travel-left{
	width:160px;
	float:left;
}

.reasons-to-travel-right{
	width:515px;
	float:right;
}

.reasons-to-travel ul li span{
	display:inline-block;
	float:right;
}

.reasons-4{
	padding-left:40%;
}


.reasons-6-left{
	width:200px;
	float:left;
	}

.reasons-6-right{
	width:435px;
	float:right;
	}
	
.reasons-6-right img{
	display:block;
	margin:0 auto;
	float:none;
	}


#adv-custom-caption{
	text-align:right;
	padding-right:60px;
	color:#fefefe;
	font-size:16px;
	display:inline;
	float:right;
	margin-top:12px;
}
.get-in-touch-captcha img{
	height: 56px !important;
}

.pause{
	width:11px;
	height:18px;
	background:#F00;
	display:inline-block;
	background:url(../images/pause-btn.png);
	border:0;
	padding:0;
	cursor:pointer;
	margin:17px 5px 0 20px;
}

.resumed{
	width:12px;
	height:19px;
	background:#0F0;
	display:inline-block;
	background:url(../images/play-btn.png) no-repeat;
	border:0;
	padding:0;
	cursor:pointer;
	margin:17px 5px 0 10px;
}


.book-now-btn{
	background:url(../images/book-now-btn.png) no-repeat;
	width:188px;
	height:52px;
	margin:30px 0;
}

.book-now-btn a{
	display:block;
	width:188px;
	height:52px;
}

.photo-tour-detail-social{}

.photo-tour-detail-social a{
	display:inline-block;
	margin-right:10px;
}

.banner_img1{
	display:block;
}

.banner_img2{
	display:none;
}

.photography-adventures-banner{
	min-height:493px;
	}
	
.trip-details-overview{}

.trip-details-overview-left{
	width:300px;
	float:left;
    font-family: 'lunchboxbold';
	font-size:20px;
	color:#292929;
	}

.trip-details-overview-right{
	width:160px;
	float:right;
	}
	
.trip-details-overview-left p{
	display:block;
	margin:0 0 10px 0;
	padding:0;
}

.trip-details-overview-left span{
	color:#069d2d;
	padding-right:5px;
	}
	
.trip-details-overview-img{
	background:url(../images/trip-details-overview-img-bg.png) no-repeat;
	width:156px;
	height:166px;
	position:relative;
	margin:0 auto;
}

.trip-details-overview-img img{
	position:absolute;
	margin:auto;
	left:3px;
	top:0;
	right:0;
	bottom:0;
	transform:rotate(7deg);
	-webkit-transform:rotate(7deg);
}

.jqtransform{
	position:relative;
	z-index:1234;
	}
	
.selectjq1{
	position:relative;
	z-index:1234;
}

.selectjq2{
	position:relative;
	z-index:1233;
}

.make-a-reservation-onlne{
	font-size:18px;
	color:#292929;
}

.make-a-reservation-onlne-text{
	padding-bottom:5px;
	display:block;
}

.make-a-reservation-onlne-text b{
    font-family: 'lunchboxbold';
	font-weight:normal;
	font-size:24px;
	color:#099613;
}
	


.make-a-reservation-onlne-text a{
    font-family: 'myriad_probold';
	color:#292929;
}

.book-new-box{
	background:#ece8dc;
	box-shadow:0 1px 9px rgba(0, 0, 0, 0.55);
	padding:10px;
	border-radius:10px;
	margin:30px 0;
	font-size:16px;
	color:#292929;
}

.book-new-box h4{
	background:url(../images/book-new-box-title-line.jpg) repeat-x left bottom;
	padding-bottom:17px;
	margin-bottom:15px;
    font-family: 'lobster_1.3regular';
	font-size:25px;
	color:#3c3b3b;
	line-height:27px;
}

.book-new-box h4 span{
	display:inline-block;
	float:right;
    font-family: 'myriad_probold';
	font-size:30px;
	color:#099613;
	padding-top:20px;
	}

.book-new-box h4 img{
	margin:0 10px;
}

.book-new-box-form{
	padding:0 20px 10px 20px;
}

.book-new-box-form p{
	margin:0 0 15px 0;
	padding:0;
}

.book-new-box-form label{
    font-family: 'architects_daughterregular';
	font-size:16px;
	color:#3c3b3b;
	margin-bottom:5px;
	display:block;
}

.book-new-box-form label span{
	color:#f60808;
	padding:0 5px;
}

.book-new-box-form label b{
    font-family: 'myriad_proregular';
	font-weight:normal;
	font-size:16px;
	color:#292929;
	padding:0 5px;
}

.book-new-box-form input{
	background:url(../images/book-new-box-form-input-bg.png);
	height:32px;
	line-height:32px;
	border:#d8d7d2 solid 1px;
	width:95%;
	padding:0 2.5%;
	margin:0;
    font-family: 'myriad_probold';
	font-weight:normal;
	font-size:16px;
	color:#292929;
	border-radius:3px;
	box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.book-new-box-form select{
	background:url(../images/book-new-box-form-input-bg.png);
	height:32px;
	line-height:32px;
	border:#d8d7d2 solid 1px;
	width:100%;
	padding:3px;
	margin:0;
    font-family: 'myriad_probold';
	font-weight:normal;
	font-size:16px;
	color:#292929;
	border-radius:3px;
	box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.book-new-box-form-inner{
	border-top:#e5e1d6 solid 1px;
}
	
.book-new-box-form-inner-left{
	width:47%;
	float:left;
	border-right:#e5e1d6 solid 1px;
	padding-right:2.5%;
	background:url(../images/book-new-box-form-check-box-img.png) center bottom repeat-x;
	padding-bottom:83px;
}

.book-new-box-form-inner-right{
	width:48.5%;
	float:right;
	background:url(../images/book-new-box-form-check-box-img.png) center bottom repeat-x;
	padding-bottom:83px;
}

.book-new-box-form-check-box{
	
}

.book-new-box-form-check-box label{
    font-family: 'myriad_proregular';
	font-weight:normal;
	font-size:16px;
	color:#292929;
}
	
.book-new-box-form-check-box label input{
    font-family: 'myriad_probold';
	font-weight:normal;
	font-size:16px;
	color:#292929;
	width:13px !important;
	height:13px !important;
	padding:0 !important;
	margin-right:10px !important;
}
	
input.process-to-payment-detail-btn{
	background:url(../images/procce-to-payment-detail.png);
	width:263px;
	height:90px;
	float:right;
	border:0;
	box-shadow:none;
	cursor:pointer;
	font-size: 0;
}

.applied-to-my-invoice{}

.applied-to-my-invoice label{
    font-family: 'myriad_proregular';
	font-weight:normal;
	font-size:16px;
	color:#292929;
}

.applied-to-my-invoice input{
	width:13px;
	height:13px;
	float:left;
	border:#0e0b04 solid 2px;
	margin-right:10px;
}

.card-expire-date{
	}
	
.card-expire-date select{
	width:40%;
	margin-right:4%;
	float:left;
	}

.book-new-box-tc{
	line-height:22px;
	margin-bottom:15px;
}

.book-new-box-tc-accepted{
	line-height:22px;
	border-top:#e5e1d6 solid 1px;
	padding-top:12px;
	padding-bottom:5px;
}

.book-new-box-form-check-box label a{
    font-family: 'myriad_probold';
	color:#f60808;
	}

.book-new-box-form-check-box span{
	display:inline-block;
	float:right;
}

.book-new-box-form-check-box span a{
	color:#464d9e;
    font-family: 'myriad_proregular';
	font-weight:normal;
	}
	
.payment-submit{
	background:url(../images/procce-to-payment-detail.png);
	background:url(../images/submit-payment.jpg);
	width:335px;
	height:113px;
	float:right;
	border:0;
	box-shadow:none;
	cursor:pointer;
	margin-left:20px;
	font-size: 0;
}

.booking-confirmed-content{

}

.booking-confirmed-content h5{
    font-family: 'lobster_1.3regular';
	font-size:25px;
	color:#3c3b3b;
	border-bottom:#e5e1d6 solid 1px;
	padding-bottom:10px;
	margin-bottom:10px;
	}

.booking-details-content{
	
}

.booking-details-content-left{
	width:60%;
	float:left;
}

.booking-details-content-right{
	width:30%;
	float:right;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
}

.booking-details-content-left ul{
	margin:0;
	padding:0;
}

.booking-details-content-left ul li{
	list-style:none;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
	margin-bottom:2px;
}

.booking-details-content-left ul li a{
	color:#3c3b3b;
}

.booking-details-content-left ul li span{
	width:125px;
	float:left;
	display:inline-block;
}

.booking-details-content-right span{
    font-family: 'myriad_probold';
	font-size:30px;
	color:#3c3b3b;
	display:block;
}

.booking-details-content-right p{
	margin:15px 0 0 0;
	padding:0
	}

.booking-details-content-right p span{
    font-family: 'myriad_probold';
	font-size:20px;
	color:#3c3b3b;
	display:block;
}

.booking-confirmed-content{
	background:url(../images/book-new-box-title-line.jpg) repeat-x left bottom;
	padding-bottom:17px;
	margin-bottom:15px;
    font-family: 'lobster_1.3regular';
	font-size:25px;
	color:#3c3b3b;
	line-height:27px;
}

.guest-detail-content{}

.guest-detail-content h5{
	margin-bottom:0;
	}

.guest-detail-content ol{
	margin:0 0 0 30px;
	padding:0;
}

.guest-detail-content ol li{
	border-bottom:#e5e1d6 solid 1px;
	padding:5px 0;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
}

.booking-confirmed-last{
	background:none;
}

.booking-confirmed-tour-detail{
    font-family: 'myriad_probold';
	color:#3c3b3b;
	font-size:22px;
	padding-bottom:10px;
}

.booking-confirmed-tour-detail span{
	display:block;
	}

.booking-confirmed-tour-detail-left{
	width:60%;
	float:left;
}

.booking-confirmed-tour-detail-right{
	width:35%;
	float:right;
}

.booking-confirmed-tour-detail-name{
    font-family: 'myriad_probold';
	font-size:14px;
	color:#3c3b3b;
}

.booking-confirmed-payment-details{
}

.booking-confirmed-payment-details-left{
	width:60%;
	float:left;
}

.booking-confirmed-payment-details-right{
	width:35%;
	float:right;
}

.booking-confirmed-payment-cost{
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
	}
	
.booking-confirmed-payment-cost span{
	display:block;
}

.booking-confirmed-payment-cost-total{
	border-top:#e5e1d6 solid 1px;
	text-transform:uppercase;
	padding-top:10px;
    font-family: 'myriad_probold';
	font-size:22px;
	color:#3c3b3b;
	display:inline-block;
	margin-top:10px;
	}

.print-btn{
	width:199px;
	height:67px;
	float:right;
}

.print-btn input[type="button"]{
	background:url(../images/print-btn.png) no-repeat;
	width:199px;
	height:67px;
	border:0;
	padding:0;
	margin:0;
	cursor:pointer;
}


.booking-confirmed-payment-details-right ul li{
	list-style:none;
	margin-bottom:2px;
    font-family: 'myriad_probold';
	font-size:18px;
	color:#3c3b3b;
}

.booking-confirmed-payment-details-right ul li span{
	width:120px;
	display:inline-block;
}

.payment-detail-price{
	background:url(../images/amount-to-be-changed.jpg) no-repeat;
	width:303px;
	height:150px;
	padding-top:50px;
	text-align:center;
	font-size:22px;
	color:#3c3b3b;
}
.payment-detail-price span{
	display:block;
	font-size:18px;
    font-family: 'myriad_probold';
}
.error-message{
	color: rgb(246, 8, 8);
}
/* 1 Feb 2014 */
.trip-details-slider{
 padding:20px 0 40px 0;
 background:url(../images/title-line.png) repeat-x left bottom;
}

.trip-details-slider ul li{
 list-style:none;
 width:33%;
 }
 
.trip-details-slide-nav{
 text-align:right;
 margin-bottom:15px;
 }

.trip-details-slide-prev{
 background:url(../images/trip-details-slide-prev.png) no-repeat;
 width:39px;
 height:22px;
 cursor:pointer;
 display:inline-block;
 margin-right:10px;

}

.trip-details-slide-next{
 background:url(../images/trip-details-slide-next.png) no-repeat;
 width:39px;
 height:22px;
 cursor:pointer;
 display:inline-block;
}
ul.image-gallery{
	display: none;
}
.ui-datepicker td a.ui-state-hover {
	color: #069D2D !important;
}
.trip-details-left-nav ul li.ui-state-active a{
	color:#069D2D;
}


.index-banner ul li span{
	display:none;
	}
/*--------------------------18-2-14-----------------------*/

.photo-tours-details-eco-focus{
 margin:30px 0;
}

.photo-tours-details-eco-focus h4{
    font-family: 'lobster_1.3regular';
 font-size:40px;
 color:#3c3b3b;
 line-height:40px;
 margin-bottom:30px;
}

.photo-tours-details-eco-focus h5{
    color: #069D2D;
    font-family: 'lunchboxregular';
    font-size: 25px;
    margin-bottom: 15px;
}

.photo-tours-details-eco-focus-left{
 float:left;
 width:201px;
 height:216px;
 background:url(../images/photo-tours-details-eco-focus-left-bg.png) no-repeat;
 position:relative;
}

.photo-tours-details-eco-focus-right{
 float:right;
 width:67%;
}

.photo-tours-details-eco-focus-left img{
 position:absolute;
 margin:auto;
 left:0;
 top:0;
 right:0;
 bottom:0;
 transform:rotate(5deg);
 -webkit-transform:rotate(5deg);
 }
.trip-details-right a{
	color:#292929;
}
.fancybox-inner{
	overflow:hidden !important;
}
/*--------------------------18-2-14-----------------------*/

/*--------------------------18-2-14-----------------------*/
.pin{
 background-image:url(../images/map-pin.png);
 background-repeat:no-repeat;
 width:31px;
 height:23px;
 position:absolute;
 }

#pin1{
    right: 411px;
    top: 314px;
 }

#pin2{
    right: 404px;
    top: 308px;
 }

#pin3{
    left: 100px;
    top: 134px;
 }

#pin4{
    left: 102px;
    top: 118px;
 }

#pin5{
    bottom: 122px;
    left: 256px;
 }


#pin6{
    bottom: 119px;
    left: 270px;
 }

.ui-tooltip{
 padding: 8px;
 position: absolute;
 z-index: 9999;
 max-width: 300px;
 -webkit-box-shadow: 0 0 5px #aaa;
 box-shadow: 0 0 5px #aaa;
    font-family: 'lunchboxregular';
    font-size:20px;
 background: rgba(232, 228, 214, 0.85);
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 0 5px rgba(255, 255, 190, 0.75) inset; 
}
.mobile-map{
	display: none;
}
/*--------------------------18-2-14-----------------------*/

/*.banner-slider{
    background: url("../images/ajax-loader1.gif") no-repeat scroll 50% 50% ;
	min-height:300px;
}*/

.banner-inner{
	min-height:300px;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------MEDIA CSS---------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*---------------MEDIA CSS------------------------------MEDIA CSS------------------------------MEDIA CSS------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------MEDIA CSS---------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/




@media (max-width: 1024px) {
.wild-packages ul li{
		width:300px !important;
}
}
@media (max-width: 768px){
	.mobile-map{
		display: block;
	}
	.trip-details-content-long{
		display: none;
	}
}

@media (max-width: 960px) {

.index-banner ul li span{
	display:block;
	height:100%;
	width:100%;
	background-position:center top !important;
	background-size:cover !important;
	}

.index-banner ul li{
	min-height:225px;
}
	
.index-search{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.index-video{
	width:100%;
	float:none;
}

.index-search-title div{
	width:275px;
}
	
.index-search-title div{
	width:275px;
	text-align:left;
	font-size:22px;
	line-height:25px;
	top:7px;
}

.logo{
	text-align:center;
	float:none;
	width:100%;
	margin-bottom:20px;
}


.header-right{
	float:none;
	width:100%;
}

nav > ul > li{
	float:none;
	margin-right:0;
	width:100% !important;
	text-align:center;
	margin-bottom:20px;
}

.explore{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.eco-focus{
	width:100%;
	float:none;
}

.testimonials{
	width:80%;
	background:none
	}
	
.testimonials-title{
	background:none;
	color:#292929;
	padding:0;
	position:relative;
	margin:0 auto;
	left:0;
	top:0;
}

.testimonials-text{
	padding-top:10px;
	width:auto;
	}
	
.blog-post-img{
	width:386px;
	float:none;
	margin:0 auto 30px auto;
	background-size:auto;
}
	
.blog-post-text{
	width:100%;
	float:none;	
}


.blog-post-img{
	width:386px;
	float:none;
	margin:0 auto 30px auto;
}

.explore h2{
	text-align:center;
	}
	
.explore h2 span{
	display:block;
}

footer{

	}

footer ul li{
	width:100%;
	margin-bottom:30px;
	margin-right:0;
}

.blog-post-img{
	width:225px;
	float:none;
	background:none;
	height:auto;

}

.blog-post-img img{
	border:#efeeec solid 5px;
	position:relative;
	}
	
.banner-text{
	width:70%;
	left:0;
	margin-left:50px;
	background-image:none;
}

.banner-text-content{
	padding-left:5%;
	padding-right:5%;
}

.wild-team-left{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.wild-team-right{
	width:100%;
	float:none;
}

.team-member-photo{
	width:100%;
	float:none;
	margin-bottom:30px;
	text-align:center;
}

.team-member-proile{
	width:100%;
	float:none;
}

.team-disc-icon-top{
	text-align:center;
}

.wild-team-motto-title{
	background:url(../images/wild-team-motto-title-sm.png) no-repeat center top;
	height:86px;
}

.what-is-so-wild-about-us-title{
	background:url(../images/what-is-so-wild-about-us-title-sm.png) no-repeat center top;
	height:65px;
	}



.wild-team-motto-left{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.wild-team-motto-right{
	width:100%;
	float:none;
}

.what-is-so-wild-about-us{
	background:#FFF;
	padding:10px;
	margin-top:20px;
	height:auto;
}

.wild-university-report-card-ranting{
	text-align:center;
	}

.wild-university-report-card-grade ul li{
	list-style:none;
	width:100%;
	float:none;
	margin-right:0%;
	margin-bottom:30px;
}

.wild-university-report-card-grade ul li span{
	width:150px;
	margin-right:0;
}

.we-love-about-wild-focus-title{
	display:none;
}

.we-love-about-wild-focus-title-sm{
	display:block;
	margin-top:30px;
}

.wild-photo-montage-title{
	display:none;
}

.wild-photo-montage-title-sm{
	display:block;
	margin-bottom:10px;
	margin-top:30px;
}

.wild-photo-video-frame{
	display:none;
}

.wild-photo-video iframe{
	width:100%;
	height:400px;
}

.photo-tours-list ul li{
	width:100%;
	margin-right:0;
	margin-bottom:30px;
}

.photo-tours-list ul li a{
	max-width:200px;
	margin:0 auto;
	}
	
.photo-tours-banner-text{
	display:none;
	}
/*	
.banner-pager{
	width:100%;
	left:0;
	margin-left:0;
	}
*/

.photo-tour-banner-text{
	width:100%;
	left:0;
	margin-left:0;
}

.banner-pager{
	width:100%;
	text-align:center;
	padding-left:0;
	}

#adv-custom-caption{
	width:100%;
	text-align:center;
	padding:0;
	margin-bottom:15px;
	}
	
.trip-details-left{
	width:100%;
	margin:0 0 30px 0;
	float:none;
	}
	
.trip-details-right{
	width:100%;
	margin:0;
	float:none;
	}
	
.amazing-destinations-text img{
	float:none !important;
	display:block !important;
	margin:0 auto !important;
}

.organitation-we-support-title{
	display:none;
}

.organitation-we-support-title-sm{
	display:block;
}


.organitation-we-support-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.organitation-we-support-right{
	width:100%;
	float:none;
}

.sustainable-travel-img ul li{
	float:none;
	width:100%;
	text-align:center;
}

.greengeeks-img-1{
	float:none;
	display:block;
	margin:20px auto;
}

.recycling-energy-saving-title{
	text-align:center;
	}

.recycling-energy-saving-img1{
	float:none;
	display:block;
	margin:20px auto;
}


.so-are-you-in-title{
	text-align:center;	
}

.wild-crew-loyalty-left{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.wild-crew-loyalty-right{
	width:100%;
	float:none;
}

.privacy .trip-details{
	background:none;
	}
	
.privacy .footer-wrap{
	background-position:0 0;
}

.faq-left{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.faq-right{
	width:100%;
	float:none;
}

.blog-left{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.blog-right{
	width:100%;
	float:none;
}

.blog-list-left{
	float:none;
	margin:0 auto 30px auto;
}

.blog-list-right{
	float:none;
	width:100%;
	}

.blog-popular-list-text{
	width:65%;
	margin-left:10px;
	float:left;
}

.blog-detail-img{
	background:none;
	padding:00px;
	width:100%;
	margin:20px 0 0 0;
	height:auto;
}

.blog-detail-img img{
	border:#FFF solid 10px;
	display:block;
	margin:0 auto;
	width:90%;
}

.blog-comment-post input{
    width:95%;
}

.contact-left{
	float:none;
	width:100%;
	margin-bottom:30px;
}

.contact-right{
	float:none;
	width:100%;
}

.contact-inc{
	text-align:center;
}

.reasons-4{
	padding-left:0;
	}
	
.reasons-to-travel ul li img{
	display:block !important;
	float:none !important;
	margin:10px auto !important;
}

.reasons-to-travel ul li div{
	float:none !important;
	width:100% !important;
	}
	
.reasons-to-travel ul li span{
	float:none !important;
	width:100% !important;
	display:block;
	}
	
.trip-details-right-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.banner_img1{
	display:none;
}

.banner_img2{
	display:block;
}

nav > ul > li{
	background:none !important;
	height:auto !important;
	width:50% !important;
	float:left !important;
	text-align:left !important;
	margin:0 !important;

}

nav > ul > li > a{
	padding:0 !important;
	height:auto !important;
	text-align:left !important;
	min-height:inherit !important;
	padding:10px !important;
	border:#b8b09a dashed 1px;
	display:block;
    font-family: 'lunchboxregular';
}

nav > ul > li > a > br{
	display:none;
	}

nav > ul > li > a:hover{
	background:rgba(255, 255, 255, 0.3);
	}
	
nav > ul > li.active > a{
	background:rgba(255, 255, 255, 0.3);
	}

.nav5 > a{
	color:#3C3B3B;
	text-align:left;
	padding-left:0px;
	padding-top:0px;
	height:auto;
	}
	
nav > ul > li > ul{
	margin:0;
	padding:0;
	background:#353334;
	width:100%;
	position:relative;
	left:0;
	top:0;
}

nav > ul > li > ul{
	width:200%;
	}

nav > ul > li > ul > li{
	width:100% !important;
	float:none !important;
	background-image:none, url(../images/sub-nav-line2.png);
}

.trip-details-overview-left{
	width:100%;
	float:none;
	margin-bottom:30px;
	}

.trip-details-overview-right{
	width:100%;
	float:none;
	}
	
.book-new-box-form-inner-left{
	width:100%;
	float:none;
	border:0;
	padding-right:0;
	margin-bottom:30px;
}

.book-new-box-form-inner-right{
	width:100%;
	float:none;
	border:0;
	padding-right:0;
}

.booking-details-content-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.booking-details-content-right{
	width:100%;
	float:none;
}

.booking-confirmed-tour-detail-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.booking-confirmed-tour-detail-right{
	width:100%;
	float:none;
}

.booking-confirmed-payment-details-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.booking-confirmed-payment-details-right{
	width:100%;
	float:none;
}

.book-new-box h4 span{
	font-size:18px;
	padding-top:30px;
}
.photo-tours-details-eco-focus-left{
 float:none;
 margin:0 auto 30px;
}

.photo-tours-details-eco-focus-right{
 float:none;
 width:100%;
}


}

@media print{
	body{
		max-width:800px;
		}
	}

@media (max-width: 480px) {
nav ul li{
	width:100% !important;
	float:none !important;
	}
	
nav > ul > li > ul{
	width:100%;
	}
}


@media (max-width: 320px) {

body{
	overflow-x:hidden;
	}

.blog-post-img{
	width:225px;
	float:none;
	background:none;
	height:auto;

}

.blog-post-img img{
	border:#efeeec solid 5px;
	position:relative;
}
